<a href="https://colab.research.google.com/github/kumbhat10/Learning_Python/blob/master/Introduction_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Mount Google Drive**

In [43]:

# This cell is not required to be executed (i.e. ignore any error) if Notebook is run locally or in Binder
# Authorise and mount google drive to access code and data files
# https://www.w3schools.com/python/default.asp

project_folder = '/content/drive/My Drive/Colab Notebooks/'

import os

if os.path.isdir('/content'):
    from google.colab import drive
    drive.mount('/content/drive')

    if not(os.path.isdir(project_folder)):
      os.makedirs(project_folder)
      print("new project folder created")

    os.chdir(project_folder)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#**Zen of python**

In [0]:
#import this
#del this
import this
#this?

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# **Introduction**

In [0]:
x= "Hello, world"       #string
y=5   
print(x + "   " + x)      # add strings ( concatenate)
print(y*10)

# **Clear output cell**

In [0]:
print("This is output cell to be cleared after clear output call")
from IPython.display import clear_output
clear_output()

# **Global Variable declaration**

In [0]:
# global variable inside function
x=10
print(x)
def myfunc():
    global x
    x=5
    print(x)

myfunc()
print(x)

# **Data types**

In [0]:
# data types
# use type() to check the data tyoe
x=5 #int

y = "hello"  #str
z = 1j       #complex
x = 20.56    #float 
x = range(6) #range
x = {"name": "john","age" :36} #dict
x = ["apple", "banana"]   #list
x = ("apple","banana")   #tuple
x = {"apple","cherry"} # set
x = frozenset(x)
x = True        #bool 
x = b"hello"    #bytes
x = bytearray(5)
x = memoryview(bytes(5))
print(x)
print(type(x))

# **WhiteSpace Formattting**

In [0]:
# indentation - space is used
a = 2 +\
3   # backslash means continue to next line like ... in matlab
print(a)

# **Modules**

In [0]:
import re
my_regex = re.compile("[0-9]+", re.I)
print(my_regex)

import matplotlib.pyplot as plt

#If you need a few specific values from a module, you can import them explicitly and use them without qualification:
from collections import defaultdict, Counter
lookup = defaultdict(int)
my_counter = Counter()

#**Arithmetic**

In [0]:
#Python 2.7 uses integer division by default, so that 5 / 2 equals 2. Almost always this is not what we want, so we will always start our files with:
from __future__ import division
print(5/2)
print(5//2)  # works like floor function of matlab

#**Functions**

In [0]:
#A function is a rule for taking zero or more inputs and returning a corresponding output. In Python, we typically define functions using def:
def double(x):
 """this is where you put an optional docstring
   that explains what the function does.
   for example, this function multiplies its input by 2"""
 return x * 2

print (double(3))

##### **Functions are first-class** , which means that we can assign them to variables and pass them into functions just like any other arguments:

In [0]:
def nested_func(f):    #calls function f with 10 as its argument
  return f(10)

print(nested_func(double))   # double function created in above cell - run that first

#### Anonymous functions, or lambdas:

In [0]:
y = nested_func(lambda x: x+9)     ##lambda is anonymous function here
print(y)

#### Lambdas to variables

In [0]:
another_double = lambda x: 2*x + 3   # dont do this use def instead as shown in next cell

print(another_double(4))

#### def to define function

In [0]:
def another_double(x): return 2*x + 3 
print(another_double(4))

#### Deafult input to function parameters

In [0]:
def default_fucntion(x=10):  #default values to function is 10 now
  return x*2

print(default_fucntion(4))    # with input    = 4 * 2 = 8
print(default_fucntion())    # with no input  = 10 * 2 = 20

#### Calling functions with variable names and default values

In [0]:
def substract(a=10,b=3):      # default values 
    return a-b
  
print(substract(5))         # a = 5 ,          b = 3 (default)
print(substract(5,2))       # a = 5 ,          b = 2
print(substract(b=5))       # a = 10(default)  b = 5
print(substract(a=15,b=4))  # a = 15 ,         b = 4

#**Strings**

In [0]:
#Strings can be delimited by single or double quotation marks (but the quotes have to match):

a = 'apple'
b = "red"
print(a)
print(b)

#### Special Characters - backslash \

In [0]:
#Python uses backslashes to encode special characters. For example:
c = " my\tapple"     # \t is tab - 2 size space
print(c)
print(len(c))

#### Raw strings r" "

In [0]:
#If you want backslashes as backslashes (which you might in Windows directory names or in regular expressions), you can create raw strings using r"":

not_tab_string = r"\t"          # represents the characters '\' and 't'
print(not_tab_string)
print(len(not_tab_string)) # is 2

#### Multi line string  - Use 3 quotes """

In [0]:
#You can create multiline strings using triple-[double-]-quotes:
multi_line_string = """This is the first line.
and this is the second line
and this is the third line"""
print(multi_line_string)

#**Exception - Try Catch**
---

In [0]:
#When something goes wrong, Python raises an exception. Unhandled, these will cause your program to crash. You can handle them using try and except:

try:
 print (0 / 0)
except ZeroDivisionError:
 print ("cannot divide by zero")

# **Data Types**
---

### **Lists** [1,2,3]  or [1,"dushyant", True]   like an array

In [0]:
# list is simply an ordered collection . like an array , but with added functionality

int_list          = [1 ,2,3]
heterogenous_list = ["string" , 0.1, True]
list_of_lists     = [int_list, heterogenous_list, []]

print( len(int_list))
print(sum(int_list))

#### Indexing lists

In [0]:
# You can get or set the nth element of a list with square brackets:

x = range(10)  ## is the list  from 0 to 9 not 10  [0,1,2,3,4,5,6,7,8,9]
print(len(x))

print(x[0])   # first element
print(x[1])   # second element

print(x[-1])   # indexing from end using -number - -1 means the last number and 0 means the first number
print(x[4:])   # print from 5th index till end
print(x[4:6])   # print from 5th to 7th index 
print(x[1:-1])  ## except first

#### 'in' operator check

In [0]:
# Python has an 'in'  operator to check for list membership:
x = [1,2,3,4,5,6,7,8,9]
print(1 in x)  #true 
print(20 in x) #false

#### Extending lists or appending lists

In [0]:
y  =     [1,4]
y.extend([11])
print(y)             # [1, 4, 11]

# If you don’t want to modify y you can use list addition:
y1 = [1,5]
z = y1 + y      # [1, 5, 1, 4, 11]
print(z)

#appending one by one
z.append(9)    #[1, 5, 1, 4, 11, 9]
print(z)

#### Unpacking List

In [0]:
# unpacking list
x,y = [1,2]   ### you will get ValueError if you dont have the same number of elements on both sides
print(x,y)

_,y = [3,4]  #It’s common to use an underscore for a value you’re going to throw away:
print(y)

### **Tuples  (1,2) or 1,2** and cannot be modified
---

In [0]:
#Tuples are lists’ immutable cousins. Pretty much anything you can do to a list that doesn’t
#involve modifying it, you can do to a tuple. You specify a tuple by using parentheses (or
#nothing) instead of square brackets:'''

alist = [1,2,3]
atuple = (1,2)
a1tuple = 1,2
print(alist)
#list can be changed but tuple cannot be changed
alist[2] = 4
print(alist)

try:
 a1tuple[1] = 3
except TypeError:
 print ("cannot modify a tuple")

#Tuples are a convenient way to return multiple values from functions:

def sum_and_product(x,y):
 return x+y,x*y

sp = sum_and_product(5,2)
print(sp)
s,p = sum_and_product(5,2)
print(s,p)

###**Dictionaries {} or dict()**  - used for mapping key item with value from Collections
---

In [0]:
#Another fundamental data structure is a dictionary, which associates values with keys and allows you to quickly retrieve the value corresponding to a given key:

empty_dict = {}      #pythonic
empty_dict2 = dict() # less pythonic

grades = {"Joel":80,"Tim":95}
print(grades)

#### add new key and value - [ ] Square brackets

In [0]:
grades = {"Joel":80,"Tim":95}
# You assign key-value pairs using the same square brackets:
print(grades)
grades["dushyant"] = 90
print(grades)

#### lookup for key value - [ ] Square brackets

In [0]:
# you can look up the value for a key using square brackets:
grades = {"Joel":80,"Tim":95}
print( grades["Joel"])

#### Check key existence

###### Using try catch method & KeyError

In [0]:
grades = {"Joel":80,"Tim":95}
try:
  kates_grade = grades["kate"]
except KeyError:
  print('Kate is not a key')

###### Using 'in' operator

In [0]:
grades = {"Joel":80,"Tim":95}
print( "Joel" in grades)  #true
print("Kate" in grades)  #false

#### look up for all keys

In [0]:
grades = {"Joel":80,"Tim":95}

#Besides looking for specific keys we can look at all of them:
grades_keys   = grades.keys()      # key (item name)
grades_values = grades.values()  # value of item
grades_items  = grades.items()    # pairs of items and values 

print(grades_items)   # [('Joel', 80), ('Tim', 95)] # list of tuples
print(grades_values)  # [80, 95]      #list
print(grades_keys)    #['Joel', 'Tim']   #list

In [0]:
grades = {"Joel":80,"Tim":95}

print("Joel" in grades_keys)  # True, but uses a slow list in
print("Joel" in grades)                  # more Pythonic, uses faster dict in

### **defaultdict**  - creates new key if key is not found -> import them from collections: 
---

#### defaultdict is like a regular dictionary, except that when you try to look up a key it doesn’t contain, it first adds a value for it using a zero-argument function you provided when you created it.

In [0]:
#In order to use defaultdicts, you have to import them from collections:


document = ["the","apple","red", "the" ,"red"]
from collections import defaultdict

word_counts = defaultdict(int) # int() produces 0 
for word in document:
  word_counts[word] += 1   # same as  word_counts[word] =   word_counts[word] + 10  
print(word_counts)

#### using list or dict or own functions with defaultdict()

In [0]:
#They can also be useful with list or dict or even your own functions:

dd_list = defaultdict(list)
dd_list["dus"].append("klm")    # {'dus': ['klm'] } - dus is key and klm is added as list 
print(dd_list)

dd_dict = defaultdict(dict)    # dict() produces an empty dict
dd_dict["Joel"]["city"] = "Seattle"     #defaultdict(<class 'dict'>, {'Joel': {'city': 'Seattle'}})
print(dd_dict)

#### default values with defaultdict()

In [0]:
dd_pair = defaultdict(lambda: [0,2])
dd_pair["dus1"]     = [0,0 ,1]                   # {'dus1': [0, 0, 1]}  overwriting the whole key dus1
print(dd_pair)

dd_pair["dus2"][1]  = 5                   # {'dus1': [0, 0, 1], 'dus2': [0, 5]}         redefine 2nd value from 2 to 5
print(dd_pair)

###**Counter   -   module name - Collections**

In [0]:
# A Counter turns a sequence of values into a defaultdict(int)-like object mapping keys to counts. 
# We will primarily use it to create histograms:

from collections import Counter
c = Counter([0,1,2,3,0,2,4,5,2,3])
print(c)

#### **most_common** method

In [0]:
from collections import Counter
document = ["red","orange","red","yellow","black","orange","red"]
word_count = Counter(document)

# A Counter instance has a most_common method that is frequently useful:

for word,count in word_count.most_common(1):  # most repeating terms
  print(word," is repeating ",count," times ")

###**Sets**  - distinct element set -- "in" is a very fast operation on sets. better than list

In [0]:
# Another data structure is set, which represents a collection of DISTINCT elements:

s = set() 
s.add(1)
s.add(2)
print(s)  #{1,2}

{1, 2}

### We’ll use sets for two main reasons.

#### 1) 'in' operation is very fast in sets than list

In [0]:
#If we have a large collection of items that we want to use for a membership test, a set is more appropriate than a list

stopwords_list = ["a", "an" ,"at"] + ["yet", "you"]    #list 
print(stopwords_list)       #['a', 'an', 'at', 'yet', 'you']
print("zip" in stopwords_list)    #false

stopwords_set = set(stopwords_list)
print(stopwords_set)       #{'an', 'a', 'at', 'yet', 'you'}
print("zip" in stopwords_set)    #false

#### 2) Distinct Elemetns in collection only - (unique)

In [0]:
item_list = [1,2,3,1,2,3]    # example of list
print(len(item_list) ) # 6

item_set = set(item_list) #{1, 2, 3}   convert list to set  
print(item_set)  
print(len(item_set) )  # 3

distinct_item_list = list(item_set) # [1, 2, 3]  # convert set to list
print(distinct_item_list)
#We’ll use sets much less frequently than dicts and lists.

#**Control Flow**

### If else logic

In [0]:
# As in most programming languages, you can perform an action conditionally using if:
x=2

if  x<2:
  print(" x is less than 2")
elif x > 2:
 print(" x is greater than 2")
else:
  print("x is 2")

### if-then-else on one line ,

In [0]:
parity ="even" if x % 2 == 0 else "odd"
print("x value is ",x, "which is ",parity)

### While Loop

In [0]:
x=1
while x<10:
  print(x)
  x += 1

### using 'for' and 'in'

In [0]:
for x in range(10):
 print(x,"is less than 10")

### continue and break

In [0]:
for x in range(6):
 if x == 3:
    continue   # go to next iteration
 if x== 6:
  break
 print(x)

# **Truthiness**

In [0]:
# Booleans in Python work as in most other languages, except that they’re capitalized:
check_condition = 1>2    #false
print(check_condition)

False

In [0]:
#Python uses the value none to indicae a non existent value. It is similar to other languages - null :
x = None
print(x)   #None
print(x==5)   #false
print(x == None)  # true prints true but is not pythonic
print(x is None)   # true prints true and is Pythonic

In [0]:
"""
Python lets you use any value where it expects a boolean. The folowing are all 'Falsy'
False
None
[] (an empty list)
{} (an empty dict)
""  (an empty strig)
set()  (empty set)
0
0.0  
"""

#### check truthiness in empty string

In [0]:
s = ""
if s:
  print("not empty")
else:
  print("string is empty")

#### Simpler way of doing above

In [0]:
s = "AAdsf"
first_char = s and s[0]
print(first_char)
#since and returns its second value when the first is “truthy,” 
#the first value when it’s not.
#Similarly, if x is either a number or possibly None:
  
x=None  
y=5
safe_x = x or 1  
safe_y = y or 0
print(safe_x)
print(safe_y)

### all function

In [0]:
#takes list input and returns true if all element are truth
xx = [True , 1 ,{3}]     #true
yy = [True,0,{3}]        #false
print(all(xx))  #true
print(all(yy))  #false

print(any(xx))  #true
print(any(yy))  #true
print(any([])) #false

True
False
True
True
False

## The Not - So - Basics

### Sorting

In [0]:
x = [4,1,2,3]
print(x)
y = sorted(x)    #yis new list with sorted order of x
print(y)
x.sort()  # x is sorted now
print(x)

[4, 1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

#### Sorting in reverse order with another function

In [0]:
# sort the list based on abs value from largest to smallest 

x = sorted([1,-4,5,-3],key =abs, reverse=True)
print(x)   #[5, -4, -3, 1]


from collections import Counter
document = ["red","orange","red","yellow","black","orange","red"]
word_count = Counter(document)
word_count.items()
#sort the words and counts from highest count to lowest
wc = sorted(word_count.items(), key=lambda (word, count): count, reverse = True)

SyntaxError: ignored