<a href="https://colab.research.google.com/github/kumbhat10/Data_Science_in_Python/blob/master/Learnig_Pandas/Grouping_and_Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
 import pandas as pd

## **Mount Google drive and import data to use**

In [2]:
from google.colab import drive  # mount the google drive to access the wine reviews csv file
drive.mount('/content/gdrive')
reviews = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Sample_data/winemag-data-130k-v2.csv')
reviews.head(3) # show only first 3 results

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm

[3 rows x 14 columns]

# **Groupwise analysis**

Maps allow us to transform data in DatFrame or Series one value at a time for an entire column.

However, often we want to group our data, and then do something specific to the group the data is in.

one function we've been using heavily is value_counts function

It can be replicated by following

In [0]:
reviews.groupby('points').points.count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

groupby() created a group of reviews which alloted the same point values to the given wines.

Then, for each of these groups, we grabbed the points() column and counted how many times it appeared.

To find the cheapest wines in each of the following groups

In [0]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

You can think of each group we generate as being a slice of our DataFrame containing only data with values that match. 

This DataFrame is accessible to us directly using the apply() method, and we can then manipulate the data in any way we see fit. 

For example, here's one way of selecting the name of the **first wine reviewed from each winery** in the dataset:

##  **apply()**  method

In [0]:
a = reviews.groupby('winery').apply(lambda daframe: daframe.iloc[0] )
a.head(4) # show results of only 4

                  Unnamed: 0 country  ...          variety            winery
winery                                ...
1+1=3                  20319   Spain  ...  Sparkling Blend             1+1=3
10 Knots               13150      US  ...         Viognier          10 Knots
100 Percent Wine       29919      US  ...          Moscato  100 Percent Wine
1000 Stories           30001      US  ...        Zinfandel      1000 Stories

[4 rows x 14 columns]

## **group by more than one column**

pick out the best wine by country and province:

In [58]:
a = reviews.groupby(['country','province']).apply(lambda df:df.loc[df.points.idxmax()])
print(a.head(4)) # show results of only 4)
print(reviews.columns)
print(type(reviews))

                            Unnamed: 0  ...                winery
country   province                      ...
Argentina Mendoza Province       82754  ...  Bodega Catena Zapata
          Other                  78303  ...                Colomé
Armenia   Armenia                66146  ...              Van Ardi
Australia Australia Other        37882  ...       Marquis Philips

[4 rows x 14 columns]
Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>

## **agg()**  - groupby() Method - Multiple functions calling on group
Outputs dataframe and not series

agg() lets you run multiple different functions on your DataFrame simultaneously.

For Exaxmple :- general simple statistical sumary of the dataset as follows

In [54]:
## runs len, min and max functions on wines of different countries
a = reviews.groupby('country').price.agg([len,min,max ])  
a.head(8)  ## show only 3

                           len   min     max
country
Argentina               3800.0   4.0   230.0
Armenia                    2.0  14.0    15.0
Australia               2329.0   5.0   850.0
Austria                 3345.0   7.0  1100.0
Bosnia and Herzegovina     2.0  12.0    13.0
Brazil                    52.0  10.0    60.0
Bulgaria                 141.0   8.0   100.0
Canada                   257.0  12.0   120.0

In [64]:
a = reviews.groupby('country').agg([len,min,max ])  
a.head(5)

                       Unnamed: 0         ...         winery
                              len    min  ...            min               max
country                                   ...
Argentina                    3800     16  ...        2 Copas               Öko
Armenia                         2   8170  ...       Van Ardi          Van Ardi
Australia                    2329     77  ...      19 Crimes  Zonte's Footstep
Austria                      3345     93  ...         Aigner          una.wine
Bosnia and Herzegovina          2  16467  ...  Winery Čitluk     Winery Čitluk

[5 rows x 21 columns]

# **Multi- indexes**

groupby() is slightly different in the  fact that depending on the operation we run, it will sometimes result in what is called a Multi-index

a multi-index differs from a regular index in that it has multiple levels

In [0]:
countries_reviewed = reviews.groupby(['country','province']).description.agg([len])
countries_reviewed.head(10)

                              len
country   province
Argentina Mendoza Province   3264
          Other               536
Armenia   Armenia               2
Australia Australia Other     245
          New South Wales      85
          South Australia    1349
          Tasmania             42
          Victoria            322
          Western Australia   286
Austria   Austria              26

In [0]:
type(countries_reviewed.index) # pandas.core.indexes.multi.MultiIndex

pandas.core.indexes.multi.MultiIndex

In [0]:
countries_reviewed.index

MultiIndex([('Argentina',  'Mendoza Province'),
            ('Argentina',             'Other'),
            (  'Armenia',           'Armenia'),
            ('Australia',   'Australia Other'),
            ('Australia',   'New South Wales'),
            ('Australia',   'South Australia'),
            ('Australia',          'Tasmania'),
            ('Australia',          'Victoria'),
            ('Australia', 'Western Australia'),
            (  'Austria',           'Austria'),
            ...
            (       'US',        'Washington'),
            (       'US', 'Washington-Oregon'),
            (  'Ukraine',           'Ukraine'),
            (  'Uruguay',         'Atlantida'),
            (  'Uruguay',         'Canelones'),
            (  'Uruguay',           'Juanico'),
            (  'Uruguay',        'Montevideo'),
            (  'Uruguay',          'Progreso'),
            (  'Uruguay',          'San Jose'),
            (  'Uruguay',           'Uruguay')],
           names=['country', 'province'], length=425)

In [0]:
countries_reviewed.loc['Argentina',  'Mendoza Province'] ## call using loc and this index

len    3264
Name: (Argentina, Mendoza Province), dtype: int64

Multi-indices have several methods for dealing with their tiered structure which are absent for single-level indices

They require 2 levels of labels to retrieve a value.

The use cases for a multi index are detailed alongside instructions on using them in below link

https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [0]:
countries_reviewed.reset_index()   ## index resets to numbers from 0 to 424

# **Sorting**

Grouping by groupby() , gives results in index order not value order i.e order of the rows is dependent on the index values and not the data

In [74]:
# countries_reviewed = reviews.groupby(['country','province']).price.max()     ## costliest wines in every country

countries_reviewed = reviews.groupby(['country','province']).apply(lambda df: df.price.max())  # same as above
countries_reviewed.name = 'max_price'
print(type(countries_reviewed)) # series
countries_reviewed.head(3)

<class 'pandas.core.series.Series'>

country    province
Argentina  Mendoza Province    230.0
           Other               150.0
Armenia    Armenia              15.0
Name: max_price, dtype: float64

In [82]:
countries_reviewed1 = reviews.groupby(['country','province']).price.agg([len,max,min])
print(type(countries_reviewed1))   # data frame
countries_reviewed1.head(3)

<class 'pandas.core.frame.DataFrame'>

                               len    max   min
country   province
Argentina Mendoza Province  3264.0  230.0   4.0
          Other              536.0  150.0   7.0
Armenia   Armenia              2.0   15.0  14.0

In [75]:
countries_reviewed.sort_values().head(5) ## sort the results by lowest price and display only 5 results

country   province
Moldova   Cahul             8.0
Romania   Viile Timis       8.0
Portugal  Table wine        8.0
Romania   Tarnave           8.0
Greece    Central Greece    8.0
Name: max_price, dtype: float64

In [76]:
countries_reviewed.sort_values(ascending=False).head(5) ## sort the results by highest price and top 5 results only

country   province
France    Bordeaux      3300.0
          Burgundy      2500.0
US        California    2013.0
Austria   Wachau        1100.0
Portugal  Port          1000.0
Name: max_price, dtype: float64

## **sort_index()** Sorting by Index

In [77]:
countries_reviewed.sort_index()

country    province
Argentina  Mendoza Province    230.0
           Other               150.0
Armenia    Armenia              15.0
Australia  Australia Other     130.0
           New South Wales     125.0
                               ...
Uruguay    Juanico             130.0
           Montevideo           60.0
           Progreso             46.0
           San Jose             50.0
           Uruguay              50.0
Name: max_price, Length: 425, dtype: float64

## Sort by more than 1 column at a time

In [84]:
countries_reviewed1.sort_index(by= ['country','province']).head(5)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

                               len    max   min
country   province
Argentina Mendoza Province  3264.0  230.0   4.0
          Other              536.0  150.0   7.0
Armenia   Armenia              2.0   15.0  14.0
Australia Australia Other    245.0  130.0   5.0
          New South Wales     85.0  125.0   8.0

# **Exercise for Practice**

In [87]:
reviews.head(2)

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos

[2 rows x 14 columns]

## 1.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [90]:
reviews.groupby('taster_twitter_handle').taster_twitter_handle.count().sort_values(ascending=False)
# reviews.groupby('taster_twitter_handle').size()     ## other way of doing above

taster_twitter_handle
@vossroger          25514
@wineschach         15134
@kerinokeefe        10776
@vboone              9537
@paulgwine           9532
@mattkettmann        6332
@JoeCz               5147
@wawinereport        4966
@gordone_cellars     4177
@AnneInVino          3685
@laurbuzz            1835
@suskostrzewa        1085
@worldwineguys       1005
@bkfiona               27
@winewchristina         6
Name: taster_twitter_handle, dtype: int64

#2.
What is the best wine I can buy for a given amount of money? Create a Series whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, ascending (so that 4.0 dollars is at the top and 3300.0 dollars is at the bottom).

In [91]:
reviews.groupby(['price']).points.max()

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

#3.
What are the minimum and maximum prices for each variety of wine? Create a DataFrame whose index is the variety category from the dataset and whose values are the min and max values thereof

In [93]:
price_extremes = reviews.groupby('variety').price.agg([min,max])
price_extremes

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   16.0
Zweigelt      9.0   70.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[707 rows x 2 columns]

#4.
What are the most expensive wine varieties? Create a variable sorted_varieties containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties).

In [96]:
sorted_varieties = reviews.groupby('variety').price.agg([min,max]).sort_values(by=['min','max'],ascending=False)
sorted_varieties

                                  min    max
variety
Ramisco                         495.0  495.0
Terrantez                       236.0  236.0
Francisa                        160.0  160.0
Rosenmuskateller                150.0  150.0
Tinta Negra Mole                112.0  112.0
...                               ...    ...
Roscetto                          NaN    NaN
Sauvignon Blanc-Sauvignon Gris    NaN    NaN
Tempranillo-Malbec                NaN    NaN
Vital                             NaN    NaN
Zelen                             NaN    NaN

[707 rows x 2 columns]

#5.
Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer. Hint: you will need the taster_name and points columns.

In [98]:
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()
reviewer_mean_ratings

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Fiona Adams           86.888889
Jeff Jenssen          88.319756
Jim Gordon            88.626287
Joe Czerwinski        88.536235
Kerin O’Keefe         88.867947
Lauren Buzzeo         87.739510
Matt Kettmann         90.008686
Michael Schachner     86.907493
Mike DeSimone         89.101167
Paul Gregutt          89.082564
Roger Voss            88.708003
Sean P. Sullivan      88.755739
Susan Kostrzewa       86.609217
Virginie Boone        89.213379
Name: points, dtype: float64

Are there significant differences in the average scores assigned by the various reviewers? Run the cell below to use the describe() method to see a summary of the range of values.

In [99]:
reviewer_mean_ratings.describe()

count    19.000000
mean     88.233026
std       1.243610
min      85.855422
25%      87.323501
50%      88.536235
75%      88.975256
max      90.562551
Name: points, dtype: float64

ERROR! Session/line number was not unique in database. History logging moved to new session 60

#6.
What combination of countries and varieties are most common? Create a Series whose index is a MultiIndexof {country, variety} pairs. For example, a pinot noir produced in the US should map to {"US", "Pinot Noir"}. Sort the values in the Series in descending order based on wine count.

In [5]:
country_variety_counts = reviews.groupby(['country','variety']).size().sort_values(ascending=False)
country_variety_counts

country    variety
US         Pinot Noir                  9885
           Cabernet Sauvignon          7315
           Chardonnay                  6801
France     Bordeaux-style Red Blend    4725
Italy      Red Blend                   3624
                                       ...
Uruguay    Tempranillo-Tannat             1
Italy      Pignolo                        1
           Muscat                         1
           Moscato di Noto                1
Argentina  Barbera                        1
Length: 1612, dtype: int64