<a href="https://colab.research.google.com/github/kumbhat10/Data_Science_in_Python/blob/master/Learning_Pandas/Data_types_and_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [3]:
reviews = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Sample_data/winemag-data-130k-v2.csv')
reviews.head(5)

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

# Dtypes

## The data types for a column in a DataFrame or a series is known as the dtype 

You can use the dtype property to grab the type of specific column.
For instance, we can get the dtype of the price column in the reviews dataframe

In [6]:
reviews.price.dtype

dtype('float64')

## dtypes

alternatively dtypes returns dtype of every column in the dataframe

In [8]:
reviews.dtypes

Unnamed: 0                 int64
country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

Data types tell us something about how pandas is storing the data internally. float64 means that it's using a 64-bit floating point number; int64 means a similarly sized integer instead, and so on.

One peculiarity to keep in mind (and on display very clearly here) is that columns consisting entirely of strings do not get their own type; they are instead given the object type.

# astype()


It's possible to convert a column of one type into another wherever such a conversion makes sense by using the astype() function. For example, we may transform the points column from its existing int64 data type into a float64 data type:

In [9]:
reviews.points.astype('float64')

0         87.0
1         87.0
2         87.0
3         87.0
4         87.0
          ...
129966    90.0
129967    90.0
129968    90.0
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

a DataFrame or series index has its own dtype too

In [16]:
reviews.index.dtype

dtype('int64')

In [13]:
reviews.groupby('country').points.max().index.dtype ##  data frame with strings as index

dtype('O')

# Missing Data

Entries missing values are given the value NaN, short for "Not a number". 
For technical reasons these NaN values are always of the float64 dtype

Pandas provide some methods specific to missing data.

To select NaN entries you can use pd.isnull() or pd.notnull()
this is meant to be used thusly:

## isnull() or notnull()

In [23]:
reviews[pd.isnull(reviews.country)].head(3)

      Unnamed: 0 country  ...    variety                           winery
913          913     NaN  ...    Chinuri               Gotsa Family Wines
3131        3131     NaN  ...  Red Blend                Barton & Guestier
4243        4243     NaN  ...   Ojaleshi  Kakhetia Traditional Winemaking

[3 rows x 14 columns]

# fillna()

fillna() provides a few different strategies for mitigating such data. for ex:- NaN with and 'UNKNOWN'

In [24]:
reviews.region_2.fillna("Unknown")

0                   Unknown
1                   Unknown
2         Willamette Valley
3                   Unknown
4         Willamette Valley
                ...
129966              Unknown
129967         Oregon Other
129968              Unknown
129969              Unknown
129970              Unknown
Name: region_2, Length: 129971, dtype: object

or we can fiil each missing value with the first non-value that appears sometime after the given record in database. This is known as backfill strategy

In [13]:
index_first_notnull = reviews.region_2.loc[reviews.region_2.notnull()].index[0]
print(index_first_notnull) # 2
print(reviews.region_2.iloc[index_first_notnull])
# reviews.region_2.fillna(reviews.region_2.iloc[index_first_notnull])

2
Willamette Valley

In [11]:
reviews.region_2.fillna(reviews.region_2.iloc[index_first_notnull])

0         Willamette Valley
1         Willamette Valley
2         Willamette Valley
3         Willamette Valley
4         Willamette Valley
                ...
129966    Willamette Valley
129967         Oregon Other
129968    Willamette Valley
129969    Willamette Valley
129970    Willamette Valley
Name: region_2, Length: 129971, dtype: object

Alternatively we may have a non-null value that we wouuld like to replace.

# replace()

In [14]:
reviews.taster_twitter_handle.replace('@kerinokeefe','@kumbhat')

0            @kumbhat
1          @vossroger
2         @paulgwine
3                 NaN
4         @paulgwine
             ...
129966            NaN
129967    @paulgwine
129968     @vossroger
129969     @vossroger
129970     @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

# Exercises

#2.
Create a Series from entries in the points column, but convert the entries to strings. Hint: strings are str in native Python.

In [0]:
point_strings = reviews.points.astype('str')

# 3.
Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [21]:
n_missing_prices = reviews.price.isnull().sum()
n_missing_prices

8996

#4.
What are the most common wine-producing regions? Create a Series counting the number of times each value occurs in the region_1 field. This field is often missing data, so replace missing values with Unknown. Sort in descending order. Your output should look something like this:

In [59]:
reviews.region_1.fillna('Unknown').value_counts().sort_values(ascending=False)

Unknown                                 21247
Napa Valley                              4480
Columbia Valley (WA)                     4124
Russian River Valley                     3091
California                               2629
                                        ...
Vin de Pays des Coteaux de Bessilles        1
Australia-New Zealand                       1
Benaco Bresciano                            1
Vino de Calidad de Tierras de León          1
Napa-Sonoma-Marin                           1
Name: region_1, Length: 1230, dtype: int64

In [58]:
reviews.region_1 = reviews.region_1.fillna('Unknown')
reviews_per_region = reviews.groupby('region_1').region_1.count().sort_values(ascending=False)
reviews_per_region

region_1
Unknown                              21247
Napa Valley                           4480
Columbia Valley (WA)                  4124
Russian River Valley                  3091
California                            2629
                                     ...
Mount Barker & Margaret River            1
Murray-Darling                           1
Muscat de Saint-Jean de Minervois        1
Canada                                   1
Massachusetts                            1
Name: region_1, Length: 1230, dtype: int64