<a href="https://colab.research.google.com/github/kumbhat10/Data_Science_in_Python/blob/master/Learning_Pandas/Grouping_and_Sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
 import pandas as pd

## **Mount Google drive and import data to use**

In [3]:
from google.colab import drive  # mount the google drive to access the wine reviews csv file
drive.mount('/content/gdrive')
reviews = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Sample_data/winemag-data-130k-v2.csv')
reviews.head(3) # show only first 3 results

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm

[3 rows x 14 columns]

# **Groupwise analysis**

Maps allow us to transform data in DatFrame or Series oen value at a time for an entire column.

However, often we want to group our data, and then do something specific to the group the data is in.

one function we've been using heavily is value_counts function

It can be replicated by following

In [4]:
reviews.groupby('points').points.count()

points
80       397
81       692
82      1836
83      3025
84      6480
85      9530
86     12600
87     16933
88     17207
89     12226
90     15410
91     11359
92      9613
93      6489
94      3758
95      1535
96       523
97       229
98        77
99        33
100       19
Name: points, dtype: int64

groupby() created a group of reviews which alloted the same point values to the given wines.

Then, for each of these groups, we grabbed the points() column and counted how many times it appeared.

To find the cheapest wines in each of the following groups

In [5]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
82      4.0
83      4.0
84      4.0
85      4.0
86      4.0
87      5.0
88      6.0
89      7.0
90      8.0
91      7.0
92     11.0
93     12.0
94     13.0
95     20.0
96     20.0
97     35.0
98     50.0
99     44.0
100    80.0
Name: price, dtype: float64

You can think of each group we generate as being a slice of our DataFrame containing only data with values that match. 

This DataFrame is accessible to us directly using the apply() method, and we can then manipulate the data in any way we see fit. 

For example, here's one way of selecting the name of the **first wine reviewed from each winery** in the dataset:

In [0]:
reviews.groupby('winery').apply(lambda daframe: daframe.title.iloc[0])

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

## **group by more than one column**

pick out the best wine by country and province:

In [6]:
a = reviews.groupby(['country','province']).apply(lambda df:df.loc[df.points.idxmax()])
a.head(4) # show results of only 4

                            Unnamed: 0  ...                winery
country   province                      ...
Argentina Mendoza Province       82754  ...  Bodega Catena Zapata
          Other                  78303  ...                Colomé
Armenia   Armenia                66146  ...              Van Ardi
Australia Australia Other        37882  ...       Marquis Philips

[4 rows x 14 columns]

## **agg()**  - groupby() Method - Multiple functions calling on group

agg() lets you run multiple different functions on your DataFrame simultaneously.

For Exaxmple :- general simple statistical sumary of the dataset as follows

In [0]:
## runs len, min and max functions on wines of different countries
a = reviews.groupby('country').price.agg([len,min,max])  
a.head(8)  ## show only 3

                           len   min     max
country
Argentina               3800.0   4.0   230.0
Armenia                    2.0  14.0    15.0
Australia               2329.0   5.0   850.0
Austria                 3345.0   7.0  1100.0
Bosnia and Herzegovina     2.0  12.0    13.0
Brazil                    52.0  10.0    60.0
Bulgaria                 141.0   8.0   100.0
Canada                   257.0  12.0   120.0

# **Multi- indexes**

groupby() is slightly different in the  fact that depending on the operation we run, it will sometimes result in what is called a Multi-index

a multi-index differs from a regular index in that it has multiple levels

In [0]:
countries_reviewed = reviews.groupby(['country','province']).description.agg([len])
countries_reviewed.head(10)

                              len
country   province
Argentina Mendoza Province   3264
          Other               536
Armenia   Armenia               2
Australia Australia Other     245
          New South Wales      85
          South Australia    1349
          Tasmania             42
          Victoria            322
          Western Australia   286
Austria   Austria              26

In [0]:
type(countries_reviewed.index) # pandas.core.indexes.multi.MultiIndex

pandas.core.indexes.multi.MultiIndex

In [0]:
countries_reviewed.index

MultiIndex([('Argentina',  'Mendoza Province'),
            ('Argentina',             'Other'),
            (  'Armenia',           'Armenia'),
            ('Australia',   'Australia Other'),
            ('Australia',   'New South Wales'),
            ('Australia',   'South Australia'),
            ('Australia',          'Tasmania'),
            ('Australia',          'Victoria'),
            ('Australia', 'Western Australia'),
            (  'Austria',           'Austria'),
            ...
            (       'US',        'Washington'),
            (       'US', 'Washington-Oregon'),
            (  'Ukraine',           'Ukraine'),
            (  'Uruguay',         'Atlantida'),
            (  'Uruguay',         'Canelones'),
            (  'Uruguay',           'Juanico'),
            (  'Uruguay',        'Montevideo'),
            (  'Uruguay',          'Progreso'),
            (  'Uruguay',          'San Jose'),
            (  'Uruguay',           'Uruguay')],
           names=['country', 'province'], length=425)

In [0]:
countries_reviewed.loc['Argentina',  'Mendoza Province'] ## call using loc and this index

len    3264
Name: (Argentina, Mendoza Province), dtype: int64

Multi-indices have several methods for dealing with their tiered structure which are absent for single-level indices

They require 2 levels of labels to retrieve a value.

The use cases for a multi index are detailed alongside instructions on using them in below link

https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html

In [0]:
countries_reviewed.reset_index()   ## index resets to numbers from 0 to 424

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

# **Sorting**

Grouping by groupby() , gives results in index order not value order i.e order of the rows is dependent on the index values and not the data

In [0]:
countries_reviewed = reviews.groupby('country').price.max()     ## costliest wines in every country
countries_reviewed.head(10)
# countries_reviewed = countries_reviewed.reset_index()

country
Argentina                  230.0
Armenia                     15.0
Australia                  850.0
Austria                   1100.0
Bosnia and Herzegovina      13.0
Brazil                      60.0
Bulgaria                   100.0
Canada                     120.0
Chile                      400.0
China                       18.0
Name: price, dtype: float64

In [0]:
countries_reviewed = reviews.groupby('country').price
countries_reviewed.head(5)

0           NaN
1          15.0
2          14.0
3          13.0
4          65.0
          ...
81814     160.0
83622      10.0
96759      12.0
109989     18.0
110246      NaN
Name: price, Length: 202, dtype: float64

In [0]:
countries_reviewed.sort_values(by='len') ## sort the results by len

          country               province    len
179        Greece  Muscat of Kefallonian      1
192        Greece          Sterea Ellada      1
194        Greece                 Thraki      1
354  South Africa             Paardeberg      1
40         Brazil       Serra do Sudeste      1
..            ...                    ...    ...
409            US                 Oregon   5373
227         Italy                Tuscany   5897
118        France               Bordeaux   5941
415            US             Washington   8639
392            US             California  36247

[425 rows x 3 columns]

In [0]:
countries_reviewed.sort_values(by='len',ascending=False) ## sort in descending order

          country         province    len
392            US       California  36247
415            US       Washington   8639
118        France         Bordeaux   5941
227         Italy          Tuscany   5897
409            US           Oregon   5373
..            ...              ...    ...
101       Croatia              Krk      1
247   New Zealand        Gladstone      1
357  South Africa  Piekenierskloof      1
63          Chile          Coelemu      1
149        Greece           Beotia      1

[425 rows x 3 columns]

In [0]:
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
2      Armenia           Armenia     2
3    Australia   Australia Other   245
4    Australia   New South Wales    85
..         ...               ...   ...
420    Uruguay           Juanico    12
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

## Sort by more than 1 column at a time

In [0]:
countries_reviewed.sort_values(by= ['country','len'])

       country          province   len
1    Argentina             Other   536
0    Argentina  Mendoza Province  3264
2      Armenia           Armenia     2
6    Australia          Tasmania    42
4    Australia   New South Wales    85
..         ...               ...   ...
421    Uruguay        Montevideo    11
422    Uruguay          Progreso    11
420    Uruguay           Juanico    12
424    Uruguay           Uruguay    24
419    Uruguay         Canelones    43

[425 rows x 3 columns]

# **Exercise for Practice**

In [0]:
reviews.head(1)

   Unnamed: 0 country  ...      variety   winery
0           0   Italy  ...  White Blend  Nicosia

[1 rows x 14 columns]

## 1.
Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote.

In [0]:
reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()
# reviews.groupby('taster_twitter_handle').size() ## other way of doing above

NameError: ignored

In [0]:
reviews.groupby('price').points.apply(max)
# best_rating_per_price = reviews.groupby('price')['points'].max().sort_index() ## or this way can be done

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1900.0    98
2000.0    97
2013.0    91
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [0]:
a = 2
a**3

8

In [0]:
import random
from time import time
import numpy as np
import pandas as pd

# Initilize Random
random.seed(time())

#### List Tests ####

# How many test passes to run
num_tests = 5

# Create a dict for which to store tests
data = {'length':[], 'listComprehension': [], 'append': [], 'preAllocate': [], 'while': []}

for i in range(0, num_tests):
    # Randomize list length
    end = random.randint(100_000, 10_000_000)

    startTime = time()
    listComprehension = [i for i in range(0, end)]
    endTime = time()
    
    # Add timed entry
    startTime_lc = time()
    data['listComprehension'].append(endTime - startTime)
    endTime_lc = time()
    data['append'].append(endTime_lc - startTime_lc)


# Get the median for all the rows
# df = pd.DataFrame(data)
# print(df.describe())

In [0]:
data
df = pd.DataFrame(data['listComprehension'])
print(df.describe())

               0
count  25.000000
mean    0.268664
std     0.201008
min     0.013572
25%     0.124808
50%     0.175290
75%     0.428827
max     0.722972

In [0]:
print(data['append'])
print(data['listComprehension'])

[7.3909759521484375e-06, 6.67572021484375e-06, 7.152557373046875e-06, 7.3909759521484375e-06, 8.344650268554688e-06]
[0.4670538902282715, 0.6486907005310059, 0.5237936973571777, 0.10710740089416504, 0.30466485023498535]