<a href="https://colab.research.google.com/github/kumbhat10/Data_Science_in_Python/blob/master/Learning_Pandas/Renaming_and_Combining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
from google.colab import drive  # mount the google drive to access the wine reviews csv file
drive.mount('/content/gdrive')
reviews = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Sample_data/winemag-data-130k-v2.csv')
reviews.head(2)

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos

[2 rows x 14 columns]

#Renaming

## rename()

it lets you change index names and/or column names.

In [0]:
reviews.rename(columns = {'points':'score'}).head(2)   # change column name points to score

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos

[2 rows x 14 columns]

rename() lets you rename index or column values by specifying a index or column keyword parameter, respectively.

It supports a variety of input formats, but usually a python dictionary is the most convinient.

In [0]:
reviews.rename(index = {0:'First Entry',1:'Second Entry'}).head(3)

              Unnamed: 0   country  ...         variety               winery
First Entry            0     Italy  ...     White Blend              Nicosia
Second Entry           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2                      2        US  ...      Pinot Gris            Rainstorm

[3 rows x 14 columns]

For renaming indexes , rename() is not used often

set_index() is used

Both the row index and column index can have their own name attribute.
The complimentary rename_axis() method may be used to change these names.

In [0]:
reviews.rename_axis('fields',axis='columns').rename_axis('Wines',axis ='rows').head(3)

fields  Unnamed: 0   country  ...         variety               winery
Wines                         ...
0                0     Italy  ...     White Blend              Nicosia
1                1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2                2        US  ...      Pinot Gris            Rainstorm

[3 rows x 14 columns]

#Combining

## concat() merge() join()

Given a list of elements, this function will smush those elements together along an axis

This is useful when we have data in different DataFrame or Series object but having same fields( columns)

In [1]:
import pandas as pd
from google.colab import drive  # mount the google drive to access the wine reviews csv file
drive.mount('/content/gdrive')
british_youtube = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Sample_data/Youtube_review_countrywise/GBvideos.csv')
canadian_youtube = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Sample_data/Youtube_review_countrywise/CAvideos.csv')
british_youtube.head(2)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

      video_id  ...                                        description
0  Jw1Y-zhQURU  ...  Click here to continue the story and make your...
1  3s1rvMFUweQ  ...  Musical guest Taylor Swift performs …Ready for...

[2 rows x 16 columns]

In [2]:
british_youtube.shape

(38916, 16)

In [0]:
canadian_youtube.shape

(40881, 16)

## concat() - append vertically - common fields or columns

In [0]:
pd.concat([canadian_youtube,british_youtube]).shape ## concatenated vertically

(79797, 16)

## join() - append horizontally - common index

join() lets you combine different DataFrame objects which have an index in common. 

for ex:- to pull down the videos that happened to be trending on the same day in both canada and UK, do the below

In [0]:
left = canadian_youtube.set_index(['title','trending_date'])
right = british_youtube.set_index(['title','trending_date'])

In [0]:
left.join(right, lsuffix='_canada',rsuffix='_UK').head(2) ## 28 beacuse 16 -2 = 14x2 columns

                                                                 video_id_canada  ... description_UK
title                                              trending_date                  ...
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting ... 18.04.01          PNn8sECd7io  ...            NaN
#1 Fortnite World Rank - 2,323 Solo Wins!          18.09.03          DvPW66IFhMI  ...            NaN

[2 rows x 28 columns]

the lsuffix and rsuffix are necessary here because the data has the same column names in both british and canadian datasets. If this wasnt true (because , say we would have renamed them beforehand) we wouldnt need them

# Exercises

##1.

region_1 and region_2 are pretty uninformative names for locale columns in the dataset. Create a copy of reviews with these columns renamed to region and locale, respectively.

In [0]:
renamed = reviews.rename(columns={'region_1':'region','region_2':'locale'})
renamed.head(2)

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos

[2 rows x 14 columns]

## 2.

Set the index name in the dataset to `wines`.

In [0]:
reindexed = reviews.rename_axis('wines',axis='rows')
reindexed.head(1)

       Unnamed: 0 country  ...      variety   winery
wines                      ...
0               0   Italy  ...  White Blend  Nicosia

[1 rows x 14 columns]